<div class="container main-container" style="margin-top: 1.250em; min-height: 100%">

  <div class="row">
    <div class="col-md-24">
      <nbp-accordion [nbpTitle]="accordionTitle" [nbpLabel]="accordionString" [nbpStyle]="accordionStyleTypePrimary" [nbpCollapsed]="true"
        [showTooltip]="false" [tooltipSize]="nbpSizeMD" [tooltipVisibility]="'hover'" [tooltipText]="'testo custom che sta all\'interno del tooltip.'"
        [tooltipIcon]="'icomoon-Simboli_Risorsa-1'">
        <h4> LOREM IPSUM</h4>
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="col-md-12">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </nbp-accordion>
    </div>
    <div class="col-md-24">
      <nbp-accordion [nbpTitle]="accordionTitle" [nbpSubtitle]="accordionSubtitle" [nbpLabel]="accordionString" [nbpStyle]="accordionStyleTypePrimary"
        [nbpCollapsed]="false" [showTooltip]="true" [tooltipSize]="nbpSizeMD" [tooltipVisibility]="'click'" [tooltipText]="'testo custom che sta all\'interno del tooltip click.'"
        [tooltipIcon]="'icomoon-Simboli_Risorsa-1'">
        <h4> LOREM IPSUM</h4>
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="col-md-12">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </nbp-accordion>
    </div>
  </div>
  <div class="row">
    <div class="col-md-24">
      <nbp-accordion [nbpTitle]="accordionTitle" [nbpLabel]="accordionString" [nbpStyle]="accordionStyleTypePrimary" [showTooltip]="true"
        [tooltipSize]="nbpSizeMD" [tooltipVisibility]="'hover'" [tooltipText]="'testo custom che sta all\'interno del tooltip hover.'"
        [tooltipIcon]="'icomoon-Simboli_Risorsa-1'">
        <h4> LOREM IPSUM</h4>
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="col-md-12">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </nbp-accordion>
    </div>
    <div class="col-md-24">
      <nbp-accordion [nbpTitle]="accordionTitle" [nbpSubtitle]="accordionSubtitle" [nbpLabel]="accordionString" [nbpStyle]="accordionStyleTypePrimary">
        <h4> LOREM IPSUM</h4>
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="col-md-12">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </nbp-accordion>
    </div>
  </div>
  <div class="row">
    <div class="col-md-24">
      <nbp-accordion [nbpTitle]="accordionTitle" [nbpSubtitle]="accordionSubtitle" [nbpLabel]="accordionString" [nbpStyle]="accordionStyleTypePrimary"
        #accordion>
        <h4> LOREM IPSUM</h4>
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
      </nbp-accordion>
    </div>
  </div>


  <div class="row">
    <div class="col-md-24">
      <nbp-accordion-button [nbpPullRight]="false" [nbpTitle]="accordionTitle" [nbpCollapsed]="true" [nbpIcon]="'ico-comuni-visualizzaricevuta'">
        <h4> LOREM IPSUM</h4>
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="col-md-12">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </nbp-accordion-button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-24">
      <nbp-accordion-showmore [nbpPullRight]="false" [nbpTitle]="accordionTitle" [nbpCollapsed]="true">
        <h4> LOREM IPSUM</h4>
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="col-md-12">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </nbp-accordion-showmore>
    </div>
  </div>

  <!-- <nbp-dividing-line nbpTitle="Accordion Semplice: Abilitato - Disabilitato">
  </nbp-dividing-line> -->

  <div class="row">
    <div class="col-md-24">

      <nbp-accordion-showmore-circle [nbpBodyAlign]="'left'" [nbpTitleAlign]="'center'" [nbpTitle]="'VISUALIZZA DOVE SARÁ APPOSTA LA TUA FIRMA DIGITALE'" [nbpCollapsed]="true">
        <h4> LOREM IPSUM</h4>
        <div class="row">
          <div class="col-md-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="col-md-12">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </nbp-accordion-showmore-circle>

    </div>
  </div>


</div>