<table class="table-static">
  <tr>
    <td class="td-title">
      Testo cella
    </td>
    <td>
      Testo cella
    </td>
  </tr>
  <tr>
    <td class="td-title">
      Testo cella
    </td>
    <td>
      Testo cella
    </td>
  </tr>
  <tr>
    <td class="td-title">
      Testo cella
    </td>
    <td>
      Testo cella
    </td>
  </tr>
  <tr>
    <td colspan="2"
        class="td-bottom">
      <p>
        <span>
          * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
        </span>
      </p>
    </td>
  </tr>
</table>